.color-box {
  position: absolute;
  right: 232px;
  top: -5px;
  background-color: #ebeaea !important;
  height: 104%;
  width: 70%;
  z-index: -100;
  transform: translateX(150px);
  border-top: 5px solid #1a96ca;
  border-bottom: 5px solid #1a96ca;
}
.img-controller {
  width: 120%;
  height: 100%;
  border: 5px solid #1a96ca;
  border-radius: 10px;
}
.text-controll {
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #ebeaea !important;
  padding: 35px;
  border-radius: 10px;
  text-align: justify;
  z-index: 100;
  text-align: center;
}
.tag-controller {
  display: none;
}
.bottom-left {
  position: absolute;
  bottom: 209px;
  left: -26px;
  background-color: #1a96ca;
  padding: 15px;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 44px;
}
.bottom-left h5 {
  margin-top: -5px;
  margin-left: -9px;
}
.bottom-left-1 {
  position: absolute;
  bottom: 192px;
  left: -95px;
  background-color: white;
  padding: 15px;
  width: 74px;
  color: white;
  border-radius: 50px;
  border: 5px solid #1a96ca;
  height: 77px;
  color: #1a96ca;
}

.bottom-left-1 svg {
  -webkit-transform: translate(-7px, -17px);
  width: 50px;
}
.tag-controller-1 {
  display: none;
}

@media only screen and (max-width: 600px) {
  .row {
    /*margin-right: -1px;
    margin-left: -8px;*/
  }
  .text-controll {
    margin-top: 6px;
    left: 4px;
    padding: 10px;
  }
  .text-controll h2 {
    text-align: center;
  }
  .img-controller {
    width: 104%;
    height: 80%;
    margin-top: 17px;
  }
  .color-box {
    right: 195px;
  }
  .bottom-left {
    display: none;
  }
  .tag-controller {
    /* display: inline; */
    display: table;
    background-color: #1a96ca;
    font-size: 8px;
    margin-bottom: 10px;
    margin-top: 16px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    margin-left: 32px;
    color: white;
    height: 37px;
    margin-right: 29px;
  }
  .tag-controller h5 {
    margin-top: 2px;
    margin-left: 16px;
  }
  .bottom-left-1 {
    display: none;
  }
  /* .bottom-left-2{
    display: inline;
    position: absolute;
    bottom: 193px;
    left: -83px;
    background-color: #1A96CA;
    padding: 15px;
    width: 74px;
    color: white;
    border-radius: 50px;
    height: 77px;
  } */
  /* .tag-controller-1{
    display: inline;
    position: fixed;
    background-color: #1A96CA;
    border-radius: 50px;
    width: 59px;
    height: 57px;
    top: 7px;
    color: #1A96CA;
  } */
}
